.block {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  color: #282828;
  text-align: center;
  border: 1px solid #838486;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: white; 
  z-index: 0;
}

.block li {
  list-style-type: none;
  padding: 0;
  margin-left: 25px;
  text-align: left;
}

.end-blocks {
  background-color: #E5E9EE;
  border-bottom: none;
}

.drop {
  background-color: red;
}

.optional-css-class {
  background-color: green;
}

.end-blocks button {
  z-index: 0;
  background-color: #62D8BF;
  color: white;
  width: 40%;
  font-size: 14px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 0;
  border-radius: 5px;
  outline: none;
}

.file-upload {
  position: relative;
}

.file-upload input {
  position: absolute;
  top: 37px;
  right: 0;
  left: 0;
  bottom: 2px;
  cursor: pointer;
  cursor: hand;
  opacity: 0;
  width: 40%;
  margin: 0 auto;
  margin-bottom: 35px;
  text-align: center;
  filter: alpha(opacity=0);
  /* For IE8 Compatibility */
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}

.top-p {
  margin-bottom: 7px; 
}

.bottom-p {
  margin-top: 7px;
}

.email-box {
  border-top: none;
  border-bottom: none;
}

.email-box input {
  height: 100%;
  width: 90%;
  border: none;
  outline: none;
}

.email.ng-invalid {
  color: red;
}

.tool-tip-container {
  width: 90%;
  margin: 0 auto;
  position: relative;
}

.tool-tip {
  margin-top: 10px;
  display: block;
  float: left;
  clear: both;
  border: 1px solid red;
  padding: 3px;
  padding-left: 4px;
  padding-right: 4px;
  z-index: 1;
  background-color: white;
  color: red;
}
.tool-tip::before {
  z-index: 2;
  content: '';
  position: absolute;
  top: 0;
  left: 5px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid red; 
}
.tool-tip::after {
  z-index: 3;
  content: '';
  position: absolute;
  top: 2px;
  left: 5px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid white; 
}

.owner-message {
  margin-top: 0;
}

.limitation-message {
  margin-bottom: 0;
}

.user-message textarea {
  height: 80px;
  width: 90%;
  border: none;
  outline: none;
  resize: none;
  overflow: auto;
}

.submit {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: none;
  border-bottom: 1px solid #838486;
  position: relative;
}

.submit-container {
  position: absolute;
  z-index: 1;
  top: 20px;
  bottom: 20px;
  left: 0px;
  right: 0px;
  width: 40%;
  margin: 0 auto;
  text-align: center;
}

.submit button {
  padding: 10px;
}

.submit button[disabled] {
  background-color: #BCCECE;
  padding: 10px;
}

.failure-end {
  position: relative;
  margin: 0 auto;
  z-index: 2;
  width: 90%;
  bottom: 57px;
  text-align: center;
}
 
.failure-end button {
  margin-right: 5px;
  margin-left: 5px;
  padding: 10px;
}


