<div ng-controller="WidgetCtrl">
  <form name="fileForm" novalidate ng-model="fileForm">
    <div class="block end-blocks file-upload">
      <p class="owner-message top-p">
        {{settings.headlineText}}
      </p>
      <button disabled>{{settings.addButtonText}}</button>
      <input type="file" class= "upload" title={{settings.addButtonText}} ng-file-select="onFileSelect($files)" multiple>
      <div class="drop" ng-file-drop="onFileSelect($files)" ng-file-drag-over-class="optional-css-class">Drop files here</div> <!-- give user option to have drag or drop or not -->
      <p class="limitation-message bottom-p">
        Drag and drop of files is supported. &otimes; <br>
        Only files up to 1GB will be uploaded.
      </p>
    </div>

  <!-- Note: Placeholder attribute is not supported in IE9 or below -->
    <div class="block">
      <!-- Show uploading files here -->
      <li ng-repeat="file in tooLargeList">
        {{file.name}} - {{file.newSize}} - File is too large!
      </li>
      <li ng-repeat="file in fileList">
        {{file.name}} - {{file.newSize}}
      </li> 
    </div>

    <div class="block email-box">
        <input name="email" type="email" class="email" placeholder="{{settings.emailAddressText}}" required ng-model="email" ng-pattern="emailRegex">
      <div class="tool-tip-container" ng-show="showInvalidEmail">
          <span class="tool-tip">Please enter a valid email address</span>
      </div>
    </div>

    <!-- div by default is "display: block" which means that it streches to fill while available width -->

    <!-- span by default is ... -->

    <div class="block user-message">
      <textarea name="message" placeholder={{settings.messageText}} required ng-model="message"></textarea>
    </div>

    <div class="block end-blocks submit">
        <button type="submit" ng-disabled="fileForm.$invalid">{{settings.submitButtonText}}</button>
      <div class="submit-container" ng-mouseover="enableErrorMessage()" ng-mouseleave="disableErrorMessage()" ng-show="fileForm.$invalid"> 
        <!-- Invisible element that surrounds Submit Button - allows mouse events when button disabled -->
      </div>
    </div>
    <div class="failure-end end-blocks" ng-show="uploadFailed">
      <button type="button" >Retry</button>
      <button type="reset" ng-click="reset()">Cancel</button>
    </div>
  </form>
</div>

