<div class="main-body" style="min-width: 255px;"ng-controller="WidgetCtrl" button-radius border-width widget-corners title="Drop files here" ng-file-drop="onFileSelect($files)" dropping>
  <div> <!-- This surrounding div is used to prevent directives from being
             applied to the dropper element. -->
    <div class="dropper" ng-show="dropping">
      <span class="drop-text">
        Drop files here
      </span>
    </div>
  </div>
  <div class="active" ng-if="!active">
    <span>
      THIS APP IS NOT YET ACTIVE.
    </span>
    <div></div>
    <span>
      Activate it by logging in within the settings.
    </span>
  </div>
  <div class="popup" ng-show="showOverloadedPopup">
    <span class="popup-message">
      The following files can't be added due to lack of storage space:
    </span>
    <div class="popup-list-container">
      <ul class="popup-list">
        <li ng-repeat="file in overloadedList">
          <span>{{file.name}}</span><br>
        </li>
      </ul>
    </div>
    <div>
      <button class="buttons popup-button"
        ng-click="handlePopup({type: 'overload'})">
        OK
      </button>
    </div>
  </div>
  <div class="popup" ng-show="showFailedUploadPopup">
    <span class="popup-message">
      {{failedAfterRetryList.length}} of your files failed to upload. 
      Would you like to retry to upload these files?
    </span>
    <div class="popup-list-container">
      <ul class="popup-list">
        <li ng-repeat="index in failedAfterRetryList">
          <span>{{fileList[index].name}}</span><br>
        </li>
      </ul>
    </div>
    <div>
      <button class="buttons popup-button"
        ng-click="handlePopup({type: 'failed upload', reply: 'yes'})">
        Yes
      </button>
      <button class="buttons popup-button"
        ng-click="handlePopup({type: 'failed upload', reply: 'no'})">
        No
      </button>
    </div>
  </div>

  <div class="popup" ng-show="showVerifyErrorPopup">
    <span class="popup-message popup-margins animate">
      {{verifyErrorMessage}}
    </span> <!-- animate this away -->
  </div>

  <div class="popup" ng-show="showErrorWarningPopup">
    <span class="popup-message popup-margins">
      Warning: You are submitting with failed files. We won't
      ever see the failed files. Submit anyways?
    </span>
    <div>
      <button class="buttons popup-button"
        ng-click="handlePopup({type: 'error warning', reply: 'yes'})">
        Yes
      </button>
      <button class="buttons popup-button"
        ng-click="handlePopup({type: 'error warning', reply: 'no'})">
        No
      </button>
    </div>
  </div>

  <div class="popup" ng-show="showLoadingPopup">
    <span class="popup-message popup-margins">
      Please wait till all files are done loading before submitting.
    </span>
  </div>

  <div class="popup" ng-show="submitSuccessful">
    <span class="popup-message popup-margins">
      Success!<br>
      Your message and {{totalSuccess}} files have been sent.
    </span> <!-- animate this away -->
  </div>

  <div class="popup" ng-show="submitFailed">
    <span class="popup-message popup-margins">
      {{submitErrorMessage}}
    </span>
    <div>
      <button class="buttons popup-button"
        ng-click="handlePopup({type: 'failed submit', reply: 'try again'})">
        Try again
      </button>
      <button class="buttons popup-button"
        ng-click="handlePopup({type: 'failed submit', reply: 'start over'})">
        Start over
      </button>
    </div>
  </div>

  <form name="fileForm" novalidate ng-model="fileForm" ng-style="viewStyle()" border-width>
    <div ng-style="formStyle()" border-width adjust-block-size>
      <div class="block end-blocks file-upload top-block" widget-corners>
        <h2 class="title">
          {{settings.title}}
        </h2>
        <p class="description">
          {{settings.description}}
        </p>
        <button class="buttons" disabled>
          {{settings.addButtonText}}
        </button>
        <input type="file" title={{settings.addButtonText}} ng-file-select="onFileSelect($files)" multiple name="sendFile">
      </div>

    <!-- Note: Placeholder attribute is not supported in IE9 or below -->

      <div class="block files" ng-model="glued" ng-mouseenter="onFiles = true" ng-mouseleave="onFiles = false" scroll-glue>
        <ul class="list-files">
          <div ng-if="!totalFilesAdded">
            <span class="files-box-message" ng-file-drop-available="dropSupported=true" ng-show="!dropSupported &amp;&amp; !showNoFile">
              Uploaded files are displayed here
            </span>
            <span class="files-box-message" ng-file-drop-available="dropSupported=true" ng-show="dropSupported &amp;&amp; !showNoFile">
              Drop files here
            </span>
            <span class="files-box-message form-invalid" ng-show="showNoFile">
              Please add a file
            </span>
          </div>
          <li class="display-files" ng-repeat="file in fileList" ng-if="uploadedFiles[$index] !== 'aborted'">
            <span class="file-text" ng-style="fileStyle($index)" hover>
              <a class="retry-files" href="#" ng-click="retry($index)" ng-if="file.uploadResult === false &amp;&amp; !showFailedUploadPopup">.</a>
              <span class="file-info" ng-style="fileNameStyle($index)">
                <span>
                  <span class="retry-message" ng-if="file.retryMessage !== undefined">
                    {{file.retryMessage}}
                  </span>
                    {{file.name}}
                  </span>
              </span>
              <a class="remove" href="#" ng-click="abort($index)">.</a>
              <span class="status-text progress-text" ng-if="file.uploadResult === undefined">
                {{100 - file.progress}}%
              </span>
            </span>
            <div style="clear: both;"></div>
            <div class="progress" ng-if="file.uploadResult === undefined">
              <span style="width:{{file.progress}}%;"></span>
            </div>
          </li>
        </ul> 
      </div>

      <div class="block input-block">
        <input id="visitorName" name="visitorName" class="form-input" ng-model="visitorName" ng-change="updateVisitorName(visitorName)" required>
        <label class="form-input-label" for="visitorName">
          <span ng-show="!showNoName">
            {{settings.yourNameText}}
          </span>
          <span ng-show="showNoName" class="form-invalid">
            Please enter a name
          </span>
        </label>
      </div>

      <div class="block input-block email-block">
        <input id="email" name="email" type="email" class="form-input" required ng-model="email" ng-pattern="emailRegex" ng-change="updateEmail(email)">
        <label class="form-input-label" for="email">
          <span ng-show="!showInvalidEmail">
            {{settings.emailAddressText}}
          </span>
          <span ng-show="showInvalidEmail" class="form-invalid">
            Please enter a valid email address
          </span>
        </label>
      </div>

      <div class="block user-message">
        <textarea id="message" class="user-message-box form-input" name="message" required ng-model="message" ng-change="updateMessage(message)" ng-focus="focusedTextarea = true" ng-blur="focusedTextarea = false"></textarea>
        <label class="form-input-label user-message-label" for="message">
          <span ng-show="!showNoMessage">
            {{settings.messageText}}
          </span>
          <span ng-show="showNoMessage" class="form-invalid">
            Please enter a message
          </span>
        </label>
        <!-- <p class= "file-statistics file-status">
          <span class="no-files" ng-if="!totalFilesAdded">
            No files uploaded
          </span>
          <span class="success-text" ng-if="totalSuccess" ng-style="successTextStyle()">
            {{totalSuccess}} uploaded
          </span>
          <span class="error-text" ng-if="totalFailed" ng-style="failedTextStyle()">
            {{totalFailed}} failed
          </span>
          <span class="loading-text" ng-if="totalFilesAdded - totalSuccess - totalFailed" ng-style="loadingTextStyle()">
            {{totalFilesAdded - totalSuccess - totalFailed}} loading...
          </span>
          <span class="file-upload-message" ng-show="showFileUploadMessage">
            {{fileUploadMessage}}
          </span>
        </p> -->
      </div>
    </div>

    <div class="block end-blocks submit bottom-block" widget-corners>
      <button class="buttons bottom-buttons"  type="submit" ng-disabled="submitNotReady()" ng-click="submitProcessor()">
        <span ng-show="!submitting">{{settings.submitButtonText}}</span>
        <span ng-show="submitting">Submitting
          <span class="dot-one">.</span>
          <span class="dot-two">.</span>
          <span class="dot-three">.</span>​
        </span>
      </button>
      <div class="submit-container" ng-mouseover="enableErrorMessage()" ng-mouseleave="disableErrorMessage()" ng-show="submitNotReady()"> 
        <!-- Invisible element that surrounds Submit Button - allows mouse events when button disabled -->
      </div>
    </div>
  </form>
</div>

