<div ng-controller="SettingsCtrl">
	<div class="box description-box">
		<img class="logo" width="86" src="images/wix_icon.png">
		<p class="description">This is the box to contain text to describe what this settings panel does.</p>
		<!-- <p ng-show="isEmailValid && !isEmpty">Your app is active</p>
		<p ng-hide="isEmailValid">The app will be inactive until a valid email address is entered</p> -->
	</div>
	<div wix-ctrl="Accordion">
	    <div class="acc-pane">
	        <h3>Settings</h3>
	        <div class="acc-content">
	        	<ul class="list">
		        	<li wix-label="Email Address">
		        		<div wix-model="myEmail" wix-ctrl="Input" wix-options="{placeholder:'John@example.com'}"></div>
		        	</li>
		        	<li wix-label="App Name">
		        		<div wix-model="myAppName" wix-ctrl="Input" wix-options="{placeholder:'My App Name'}"></div>
		        	</li>
		        </ul>
	        </div>
	    </div>
	    <div class="acc-pane">
	        <h3>Design</h3>
	        <div class="acc-content">
	        	<ul class="list">
		        	<li wix-label="Fill Color">
		        		<div wix-param="fillColor" wix-ctrl="ColorPickerWithOpacity" wix-options="{startWithColor: 'color-8', startWithOpacity:0}"></div>
		        	</li>
		        	<li wix-label="Border & Dividers">
		        		<div wix-param="borderColor" wix-ctrl="ColorPicker" wix-options="{startWithColor: 'color-3'}"></div>
		        		<div  wix-model="borderWidth" wix-ctrl="Slider" wix=options=="{{ maxValue:500, preLabel:'zero', postLabel:'five hundreds'}"></div>
		        	</li>
			        <li wix-label="Headline text">
		        		<div wix-param="headlineText" wix-ctrl="ColorPicker" wix-options="{startWithColor: 'color-15'}"></div>
			        		<div wix-param="headlineFont" wix-ctrl="FontStylePicker"></div>
			        </li>
			        <li wix-label="Button Fill Color">
		        		<div wix-param="buttonColor" wix-ctrl="ColorPicker" wix-options="{startWithColor: 'color-17'}"></div>
		        		<div  wix-model="buttonCorner" wix-ctrl="Slider" wix=options=="{{ maxValue:20, preLabel:'zero', postLabel:'twenty'}"></div>
		        	</li>
			        <li wix-label="Button Text">
		        		<div wix-param="buttonText" wix-ctrl="ColorPicker" wix-options="{startWithColor: 'color-25'}"></div>
		        		<div wix-param="buttonFont" wix-ctrl="FontStylePicker"></div>
		        	</li>
	        	</ul>
	        </div>
	    </div>
	</div>
</div>